<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Regression Suite" verbose="3" thread-count="3" parallel="tests">


	<test name="Google Test">
		<parameter name="url" value="https://www.google.com" />
		<parameter name="browser" value="chrome" />

		<classes>
			<class name="mytests.GoogleTest" />
		</classes>
	</test>


	<test name="Amazon Test">
		<parameter name="url" value="https://www.amazon.com" />
		<parameter name="browser" value="firefox" />

		<classes>
			<class name="mytests.AmazonTest" />
		</classes>
	</test>


	<test name="OpenCart Test">
		<parameter name="url"
			value="https://naveenautomationlabs.com/opencart" />
		<parameter name="browser" value="edge" />

		<classes>
			<class name="mytests.OpenCartTest" />
		</classes>
	</test>


</suite>